.btn {
	padding: 0.3rem 1rem;
	border: 1px solid var(--blue);
	color: var(--blue);
	cursor: pointer;
	transition: opacity 0.2s ease;

	&:hover {
		opacity: 0.7;
	}

	&.mt {
		margin-top: 1.5rem;
	}
}
