@use './sass/resets.scss';
@use './sass/form.scss';
@use './sass/typography.scss';

:root {
	/// colors
	// atomic colors. descriptive naming
	--dark-blue: #0b111b;
	--blue: #52acf6;

	--white: #ffffff;

	--red: #ef3434;

	// function colors. semantic naming
	--c-accent: var(--blue);
	--c-bg: #fff;
	--c-text: hsl(from var(--c-accent) h calc(s * 0.2) 5%);
	--c-label: hsl(from var(--c-accent) h calc(s * 0.8) 60%);
	--c-border: hsl(from var(--c-accent) h calc(s * 0.1) 85%);
	--c-placeholder: hsl(from var(--c-accent) h (s * 0.4) 80%);

	// spacing
	--sx-body: 1rem;
}

.dark {
	--c-bg: var(--dark-blue);
	--c-text: var(--white);
	--c-accent: var(--blue);
	--c-label: #476686;
	--c-border: #1d2d40;
	--c-placeholder: #324a62;
}

html {
	font-family: 'IBM Plex Mono', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: always;
}

body {
	background-color: var(--c-bg);
	color: var(--c-text);
}

.wrap {
	width: 100%;
	max-width: 64rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--sx-body);
	padding-right: var(--sx-body);
}
.underline {
	text-decoration: underline;
	text-decoration-thickness: 0.06em;
	text-underline-offset: 0.12em;
	text-decoration-color: var(--c-border);
	transition: all 250ms ease;
	&:hover {
		color: var(--c-accent);
		text-decoration-color: currentColor;
	}
}
