@use './sass/resets.scss';
@use './sass/form.scss';
@use './sass/typography.scss';

:root {
	--dark-blue: #0b111b;
	--label-blue: #476686;
	--border-blue: #1d2d40;
	--placeholder-blue: #324a62;
	--blue: #52acf6;

	--white: #ffffff;

	--red: #ef3434;

	--sx-body: 1rem;
}

html {
	font-family: 'IBM Plex Mono', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: always;
}

body {
	background-color: var(--dark-blue);
	color: var(--white);
}

.wrap {
	width: 100%;
	max-width: 64rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--sx-body);
	padding-right: var(--sx-body);
}
